.check {
    align-self: center;
    padding: 0.5rem;
    height: 1.5rem;
    position: relative;

    :global(svg) {
        width: 1.5rem;
        height: 1.5rem;
        fill: #749cf9;
        opacity: 0.6;

        transition: opacity 200ms ease-out;
    }

    &:hover :global(svg) {
        opacity: 1;
    }

    &.trouble {
        transition: all 200ms ease-in-out;
        transition-property: background-color, box-shadow;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px transparent;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            background-color: #f68e8e38;
            box-shadow: 0px 0px 5px -4px black;
        }

        :global(svg g:nth-child(1) path) {
            fill: red;
        }

        @keyframes errfade {
            50% {
                fill: #ff000070;
            }
        }

        :global(svg g:nth-child(2) path) {
            fill: red;
            animation: errfade 1s linear infinite;
        }

        &:before {
            background-color: #ff6565 !important;
        }

        &:after {
            display: none;
        }
    }

    &.queued {
        &:before, &:after {
            display: none;
        }

        :global(svg) {
            fill: #abaaaa;
        }
    }

    &.hidden {
        opacity: 0;
    }

    &.draw-lines {
        &:before, &:after {
            content: '';
            height: 2px;
            position: absolute;
            top: 18px;
            width: 80px;
            background-color: #abc3fb;
        }

        &:before {
            right: 32px;
        }

        &:after {
            left: 32px;
        }
    }
}
