.item {
    background: none;
    max-width: 950px;
    border-radius: 2px;
    margin: 2rem auto;
    overflow: hidden;

    .header {
        /* Ocupy all remaining width of the flexbox */
        width: 100%;
        text-align: left;
        background: #f8f9ff;

        display: flex;
        justify-content: space-between;

        h2 {
            margin: 0;
            font-size: 1.2rem;
            color: #8c91b9;
            display: inline-block;
            padding: 0.8rem;
            padding-left: 7px;
            flex: auto;
        }
    }

    .panel {
        background: #f8f9ff;
        padding: 0 1rem;
        text-align: left;
        position: relative;
        border-bottom: solid 1px #e0e3fc;

        .panel-item {
            padding: 5px 10px;
            background-color: #e8edf7;
            display: inline-block;
            margin: 9px 5px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 0.8rem;
            position: relative;

            transition: all 100ms ease-in-out;
            transition-property: background-color, border-color, color;
            color: #9288b7;
            border: 2px solid #e8edf7;

            &:before {
                content: '';
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: clear;
                background: linear-gradient(260deg, #d6b1ff, #a6c0ef);

                transition: opacity 100ms ease-in-out;

                position: absolute;
                top:-2px; bottom:-2px;
                left:-2px; right:-2px;
                padding: 2px;
                border-radius: 5px;

                opacity: 0;
            }

            &:hover {
                background-color: #cecece;
                color: #3e3e3e;
            }

            &.active {
                background-color: #ffffff;
                color: #8070bd;
                box-shadow: 0px 3px 6px -5px #909090;
                font-weight: 500;

                &:before {
                    opacity: 1;
                }
            }
        }
    }

    main {
        span {
            font-style: italic;
            color: #868686;
        }
    }
}
