$navHeight: 2rem;
$statusPanelWidth: 380px;
$statusPanelAnimTime: 200ms;
$pendingColour: #cabdff;
$processingColour: #39d3fd96;
$cancelledColour: #ffc297;
$troubleColour: #f76c6c;
@keyframes blinker {
  50% {
    opacity: 30%;
  }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@mixin pulse-keyframe($color) {
    @keyframes pulse {
        0% {
            transform: scale(0.9);
            box-shadow: 0 0 0 $color;
        }
        70% {
            transform: scale(1);
            box-shadow: 0 0 10px rgba($color: $color, $alpha: 0.6);
        }
        90% {
            box-shadow: 0 0 15px rgba($color: $color, $alpha: 0);
        }
        100% {
            transform: scale(0.9);
        }
    }
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #817d7d66;
    box-shadow: 0px 0px 8px -5px black;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffffb0;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffffef;
}
