@use "./tile.scss";

.modal, .modal-backdrop {
    position: fixed;
}

.modal-backdrop {
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    z-index: 101;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0;
    border-radius: 2px;
    border: solid 2px black;

    h2 {
        margin-top: 0;
    }
}
