name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.6'
        cache: false

    - name: Verify Go Mod
      run: go mod verify

    - name: Build
      run: make build

    - name: Check for pkg vulverabilities
      run: go run golang.org/x/vuln/cmd/govulncheck@latest ./...

    - name: Run staticcheck
      run: go run honnef.co/go/tools/cmd/staticcheck@latest -f stylish -checks=all,-ST1000,-U1000 ./...
     
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3.7.0
      with:
        # during the golangci-lint execution, many files are extracted
        # which conflict with those which are cached by the go setup
        # and cause an insane amount of log spam.
        # This is an ongoing issue with the golangci-lint action, and
        # so for now we won't cache the Go artifacts:
        # https://github.com/golangci/golangci-lint-action/issues/807
        skip-cache: true

    # - name: Test
    #   run: go test -v ./...
    
